    header{
        background-color: yellow;
        
    }
footer{
    background-color: yellow;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;

}

main.main-content {
    padding: 0;
}
div{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
a{
    color: black;
}