/* ----Header begin index----- */
body{
    font-family: Arial, Helvetica, sans-serif;
    /* overflow: hidden; */
}
#selector{
    background: yellow;
}

#carrinho{
margin-top: 15px;
}
#login{
    margin-top: 15px;
}
#login::after{
    content: "Faça seu login aqui!";
}
#bordao{
    margin-top: 10px;
    
}
nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(purple,cyan); */
    
}
/* ----Header end index----- */
/* ---- footer begin  */
footer{
    background: yellow;
    
}
/* footer end */