
<app-menu></app-menu>
<main class="container-fluid">
    <div class="row"> 
        <img src="../../../assets/Imagem/Banner.jpg" width="100%">
    </div>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-4">
                <div class="container">
                <a> <img src="../../../assets/Imagem/dzb.jpg" width="100%"></a>
                <h3> Conheça nossa linha Dradon Ball Z</h3>
            </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                <a> <img src="../../../assets/Imagem/palhacinho.png" width="100%"></a>
                <h3> Conheça nossa Mike Cong</h3>
            </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                <a href="produto7"> <img src="../../../assets/Imagem/produtosaquinho.png" width="100%"></a>
                <h3> Conheça nossa linha Importada</h3>
            </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>