<app-menu></app-menu>
<main class="container-fluid mt-3">
    <div>
        <div class="row" id="banner">
            <img routerLink="produtos" src="../../../assets/Imagem/Banner.jpg" width="100%">
        </div>

        <div class="row">
            <div class="col-md-4 imagem p-2">
                <a href="#">
                    <img src="../../../assets/Imagem/dbz cm .jpg" width="90%">
                </a>
            </div>


            <div class="col-md-4 imagem p-2">

                <a href="#">
                    <img src="../../../assets/Imagem/mike gong cm.jpg" width="90%">
                </a>

            </div>
            <div class="col-md-4 imagem p-2">

                <a href="produto7">
                    <img src="../../../assets/Imagem/gude gourmet cm.jpg" width="90%">
                </a>

            </div>
        </div>
        <div class="container-fluid text-center">
            <div id="cardCentro" class="row">
                <div class="col-md-2 mt-2 card p-2">
                    <a routerLink="produto"><img class="card-img-top" src="../../../assets/Imagem/tamanho menor.png"
                            alt="Card image cap" title="Esfera do Dragao 7 estrelas"></a>
                    <div class="card-body">

                        <h5 class="card-title">Esfera do dragao 7 estrelas</h5>

                        <h4><strong>R$ 8001,00</strong> </h4>


                    </div>
                </div>
                <div class="col-md-2 mt-2 card p-2">
                    <a routerLink="produto"><img width="20%" class="card-img-top"
                            src="../../../assets/Imagem/faltaEditar.jpg" alt="Card image cap" title="Bolinhas Nemo"></a>
                    <div class="card-body">
                        <h5 class="card-title">Bolinhas de Gude Clownfish </h5>
                        <h4><strong>R$ 52,32</strong> </h4>
                    </div>
                </div>
                <div class="col-md-2 mt-2 card p-2">
                    <a routerLink="produto"><img class="card-img-top" src="../../../assets/Imagem/bola metalica.jpg"
                            alt="Card image cap" title="bolinha Metalica"></a>
                    <div class="card-body">
                        <h5 class="card-title">Bolinha metalica</h5>
                        <h4><strong>R$ 70,36</strong></h4>
                    </div>
                </div>
                <div class="col-md-2 mt-2 card p-2">
                    <a routerLink="produto"><img class="card-img-top"
                            src="../../../assets/Imagem/tamanho menor bola redemoinho.png" alt="Card image cap"
                            title="espiral - Tamanho unico"></a>
                    <div class="card-body">
                        <h5 class="card-title">Bolinha de Gude Gourmet Espiral </h5>
                        <h4><strong>R$ 52,32</strong> </h4>
                    </div>
                </div>
                <div class="col-md-2 mt-2 card p-2">
                    <a routerLink="produto"><img class="card-img-top" src="../../../assets/Imagem/faltaEditar4.jpg"
                            alt="Card image cap" title="Olho tartaruga - Tamanho unico"></a>
                    <div class="card-body">
                        <h5 class="card-title">Bolinhas de Gude Hurricane</h5>
                        <h4><strong>R$ 52,32</strong> </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>