* {
  margin: 0;
  padding: 0;
}


.card {
  margin-right: 15px;
  box-shadow: 0px 1px 0px 1px #bbb8b8;
  margin-bottom: 50px;
}

#cardCentro {
  display: flex;
  justify-content: center;


}

#imagem{
    /* margin: 50px;
    padding: 0px; */
}
#banner{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px;
}

