<header>
  <h1><strong>
      RECEBEMOS O SEU PEDIDO
      <br>
      AGRADECEMOS PELA CONFIANÇA
    </strong></h1>

</header>
<div>
  <p class="pedido">Seu pedido é <span style="color: blue;">#10000738</span>
    e agora aguardamos a confirmação do pagamento.
    <br>
    Assim que for confirmador iniciaremos sua entrega.
    <br>
    Acompanhe seu pedido <a href="meusPedidos" >aqui.</a>
  </p>
</div>

<div id="informacao">
  <p class="info"><strong>INFORMAÇÕES DO PEDIDO</strong></p>
</div>

<div class="container" id="concluido">
  <div class="row">
    <div class="col-md-4">
      <h5>ENDEREÇO DE ENTREGA:</h5>
      <p>
        CEP:06787-010
        <br>
        Rua Luiz vaz de Camões
        <br>
        Jardim Maria Helena
        <br>
        Taboão da Serra - SP
      </p>
    </div>
    <div class="col-md-4">
      <h5>FORMA DE PAGAMENTO:</h5>
      <p>
        MASTERCARD
        <br>
        Valor total do pedido : R$ 150,00
        <br>
      </p>
    </div>
    <div class="col-md-4">
      <h5>FORMA DE ENTREGA:</h5>
      <p>Rápida</p>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <a  href="home"> <button id="botao" type="button" class="btn btn-success"><span style ="color:white">Continue comprando</span></button></a>

</div>
  