<div class="container">
    <h1>meu carrinho</h1>
    <hr>
    <div class="row mt-2">
        <div class="col-8">
            <div class="col-12" *ngFor="let item of carrinho">
                <div class="row">
                    <div class="col-md-3">
                        <img [src]="item.produto.image" alt="item.produto.name" title="item.produto.name" class="card-img"  >
                    </div>
                    <div class="col-md-5">
                        <h4>Produto:</h4>
                        <h3><strong>{{item.produto[0].name}}</strong></h3>
                        <small><strong>Material:</strong> Vidro maciço</small><br>
                        <small><strong>Diâmetro: </strong>63mm</small>
                    </div>
                    <div class="col-md-1">
                        <h4>Qtd:</h4>
                        <mat-form-field [formGroup]="formularioQuantidade">
                            <select (change)="mostrandoQuantidade()" (change)="ajustarQuantidade(item)" 
                                formControlName='quantidade' style="width: 99"  >
                                <option [selected]="true" value=1 > 1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                                <option value=10>10</option>
                            </select>
                            <small><a (click)="excluirProduto(item.produto)" id="remove">Remover</a></small>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 text-center">
                        Preço unitário:
                        <h3><strong>{{item.produto[0].valueProduct}}</strong></h3>
                    </div>
                </div>
                <hr>
                
            </div>
        </div>

        <div id="cart" class="col-md-4">
            <div class="card-header">
                <h1 class="card-title">resumo do pedido</h1>
                <div class="row text-muted org">
                    <div class="col-md-6">
                        <p>{{qtd}} produto(s)</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <span>{{total}}</span>
                    </div>
                </div>
                <div class="row text-muted">
                    <div class="col-md-6">
                        <p>desconto</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <span>{{desconto}}</span>
                    </div>
                </div>
                <div class="row text-muted">
                    <div class="col-md-6">
                        <p>frete</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <span>{{frete}}</span>
                    </div>
                </div>
                escolha seu frete
                <form [formGroup]="formularioFrete">
                <div class="row mt-2 ">
                        <div class="col-md-6 ">
                            <label for="freteRapido">rápido<br>R$ 50,00</label>
                            <input class="form-control frete" type="radio"  (change)="freteR()" formControlName="frete" name="frete" value="50.0"
                                id="freteR">
                        </div>
                        <div class="col-md-6 ">
                            <label for="freteNormal">normal <br> R$ 20,00</label>
                            <input class="form-control frete" type="radio" value="20.0" (change)="freteN()" formControlName="frete"  name="frete"
                                id="freteN">
                        </div>
                </div>
            </form>
                <hr>
                <h1>total</h1>
                <div class="text-right">
                    <h2 class="text-muted">{{totalComDesconto}} em até 3x ou</h2>
                    <h1>{{totalComDesconto}} em 1x no cartão</h1>
                </div>
                <hr>
                <a  [routerLink]="['/carrinho/checkout']"><button type="button" class="btn btn-success btn-block "><img
                src="../../../assets/Imagem/basket.png" alt="">  continuar</button></a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>