h2{
    margin-top: 2px;
}

select{
    cursor: pointer;
}

.org{
    display: flex;
    justify-content: space-between;
}

#carrinho{
    z-index: -999999;
}

.fot{
    background: #A7E0D7;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

#cart{
    margin-top: 0;
}

#remove{
    color: gray;
    cursor: pointer;
}

.frete{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 15px;
    height: 15px;
}