<div class="container">
    <h2>meu carrinho</h2>
    <hr>
    <div class="row mt-2">
        <div class="col-8">
            <div class="col-12" *ngFor="let item of carrinho">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../../../assets/Imagem/psicodelica.png" class="card-img" alt="Bola Universo"
                            title="Bola Universo">
                    </div>
                    <div class="col-md-5">
                        <h6>Produto:</h6>
                        <h6><strong>{{item.nome}}</strong></h6>
                        <small><strong>Material:</strong> Vidro maciço</small><br>
                        <small><strong>Diâmetro: </strong>63mm</small>
                    </div>
                    <div class="col-md-1">
                        <h6>Qtd:</h6>
                        <mat-form-field [formGroup]="formularioQuantidade">
                            <mat-select (change)="mostrandoQuantidade()" (change)="ajustarQuantidade(item.quantidade)"
                                formControlName='quantidade' style="width: 99">
                                <mat-option *ngFor="let item of itensCart" [value]="item.value"> {{item.viewValue}}</mat-option>
                                <!-- <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option> -->
                            </mat-select>
                            <small><a (click)="excluirProduto(item.produto)" id="remove">Remover</a></small>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 text-center">
                        Preço unitário:
                        <p><strong>{{item.produto.preco.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</strong></p>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div id="cart" class="col-md-4">
            <div class="card-header">
                <h5 class="card-title">resumo do pedido</h5>
                <div class="row text-muted org">
                    <div class="col-md-6">
                        <p>{{qtd}} produto(s)</p>
                    </div>
                    <div class="col-md-6">
                        <span>{{total.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</span>
                    </div>
                </div>
                <div class="row text-muted org">
                    <div class="col-md-6">
                        <p>desconto</p>
                    </div>
                    <div class="col-md-6">
                        <span>{{desconto}}</span>
                    </div>
                </div>
                <div class="row text-muted org">
                    <div class="col-md-6">
                        <p>frete</p>
                    </div>
                    <div class="col-md-6">
                        <span>{{frete}}</span>
                    </div>
                </div>escolha seu frete
                <form [formGroup]="formularioFrete">
                <div class="row mt-2 text-center">
                        <div class="col-md-6">
                            <label for="freteRapido">rápido<br>R$ 50,00</label>
                            <input class="form-control" type="radio" formControlName="frete" name="frete" (click)="freteR()" value="50.0"
                                id="freteR">
                        </div>
                        <div class="col-md-6">
                            <label for="freteNormal">normal <br> R$ 20,00</label>
                            <input class="form-control" type="radio" value="20.0" formControlName="frete" (click)="freteN()" name="frete"
                                id="freteN">
                        </div>
                </div>
            </form>
                <hr>
                <h5>total</h5>
                <div class="text-right">
                    <span class="text-muted">{{totalComFrete}} em até 3x ou</span>
                    <h5>{{totalComFrete}} em 1x no cartão</h5>
                </div>
                <hr>
                <a [routerLink]="['/carrinho/checkout']"><button type="button" class="btn btn-success btn-block "><img
                            src="../../../assets/Imagem/buy.png" alt="">continuar</button></a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>