<div class="container-fluid mt-2 mb-2">
    <div id='nav' class="row">
        <div class="col-md-2 text-center">
            <a [routerLink]="['home']"><button type="button" class="btn btn-outline-secondary">Home</button></a>
        </div>
        <div class="col-md-2 text-center">
        <a [routerLink]="['/listaProduto']"><button type="button"
                    class="btn btn-outline-secondary">Produtos</button></a>
        </div>
        <div class="col-md-2 text-center">
            <a [routerLink]="['cadastro']"><button type="button"
                    class="btn btn-outline-secondary">Cadastro</button></a>
        </div>
        <div class="col-md-2 text-center">
            <a [routerLink]="['contato']"><button type="button" class="btn btn-outline-secondary">Contato</button></a>
        </div>
        <div class="col-md-2 text-center">
            <a [routerLink]="['sobre']"><button type="button" class="btn btn-outline-secondary">Sobre</button></a>
        </div>
    </div>
</div>