<div class="container-fluid">

</div>
<div class="row">
    <div class="col-md-3 text-center">
        <a href="#"><button type="button" class="btn btn-outline-secondary">Home</button></a>
    </div>
    <div class="col-md-3 text-center">
        <a href="#"><button type="button" class="btn btn-outline-secondary">Produtos</button></a>
    </div>
    <div class="col-md-3 text-center">
        <a href="#"><button type="button" class="btn btn-outline-secondary">Cadastro</button></a>
    </div>
    <div class="col-md-3 text-center">
        <a href="#"><button type="button" class="btn btn-outline-secondary">Contato</button></a>
    </div>
    <div class="col-md-3 text-center">
        <a href="#"><button type="button" class="btn btn-outline-secondary">Sobre</button></a>
    </div>
</div>