<body>
  <header id="selector">
      <div class="container-fluid">
          <div class="row text-center">
              <div id="logo" class="col-lg-1 text-left">
                  <a href="#"><img src="./assets/Imagem/LOGO GUDE GUDE.jpg" alt="Logo" title="GudeGude" height="75"
                          width="75"></a>
              </div>
              <div id="bordao" class="col-lg-8 text-center">
                  <h1><strong>O melhor da sua infância está aqui!</strong></h1>
              </div>
              <div id="login" class="col-lg-2">
                  <a href="#"><img src="./assets/Imagem/login.png" alt="login" title="login"></a>
              </div>
              <div id="carrinho" class="col-lg-1 text-center">
                  <a class="navbar-brand" href="#"><img src="./assets/Imagem/carrinho.png" alt="carrinho" title="carrinho"></a>
              </div>
          </div>
      </div>
  </header>


  <footer>
    <div class="container p-4 mt-2">
        <div class="row text-center">
            <div class="col-md-4">
                <div>
                    CONTATO
                </div>
                <a href="contato.html">Fale conosco</a>
            </div>
            <div class="col-md-4">
                <div>
                    <div>INSTITUCIONAL</div>
                    <a href="contato.html"> Nossa história</a>
                </div>
            </div>
            <div class="col-md-4">
                <div>SOCIAL</div>
                <a href="https://www.instagram.com/pgudegude/?hl=pt-br"><img src="./assets/Imagem/instagram.png"
                        width="20px"> Instagram</a>
            </div>
        </div>
        <div class="text-center"> Todos os direitos reservados</div>
    </div>
</footer>
</body>