<main>
    <div class="container" >
        <table class="table table-striped" *ngIf="login; else logar">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Pedido</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Status Pagamento</th>
                    <th scope="col">Status Pedido</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pedidos of pedido; index as i">
                    <th scope="row">{{pedidos.date}}</th>
                    <th scope="row">{{pedidos.id}}</th>
                    <th scope="row">{{pedidos.price}}</th>
                    <th scope="row">{{pedidos.payment.status}}</th>
                    <th scope="row">{{pedidos.statusRequest}}</th>
                </tr>
            </tbody>
        </table>
        <ng-template #logar>
            <h1>
            Você não está logado ainda, 
            </h1>
            <div class="text-center">
                <img src="../../../assets/Imagem/logado.jpg" alt="logar" title="logar">
            </div>
        </ng-template>
    </div>
</main>