<main *ngIf="!login; else logar">
    <div class="container">
        <div id="row" class="row">
            <div class="col-md-6">
                <div class="card-header mt-5">
                    <div id="cad">
                        <h5>Você já possui cadastro?</h5>
                        <a routerLink="cadastro"><button type="button" class="btn btn-info">Cadastre-se</button></a>
                    </div>
                    <hr>
                    <form class="form-row" [formGroup]="formularioLogin" (ngSubmit)="logando()">
                        <div class="col-md-12 formGroup">
                            <label for="email" class="pl-3"><strong>Email:</strong></label>
                            <input class="form-control" type="text" name="email" id="email" required
                                placeholder="exemplo@exemplo.com" formControlName="email">
                        </div>
                        <div class="col-md-12 formGroup mt-3">
                            <label for="senha" class="pl-3"><strong>Senha:</strong></label>
                            <input class="form-control" type="password" name="senha" id="senha"
                                placeholder="digite sua senha" formControlName="senha">
                            <small id="esqueci" class="text-muted pl-3"><a data-toggle="modal"
                                    data-target="#modalEsqueci">Esqueci minha senha</a></small>
                        </div>
                        <div id="entrar" class="col-md-12 mt-3">
                            <button class="btn btn-info btn-block">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- modal -->
    <div id="modalEsqueci" class="modal m-2">
        <form class="modal-content" [formGroup]="esqueciSenha" (ngSubmit)="enviarEmail(value)">
            <div class=" container">
                <div class="row m-3">
                    <div class="col-md-12">
                        <label class="pl-3" for="email"><b>Email:</b></label>
                        <input class="form-control" type="text" formControlName="emailEsqueciSenha"
                            placeholder="exemplo@exemplo.com" name="uname">
                    </div>
                    <button  data-dismiss="modal" (click)="enviarEmail(value)"  class="btn btn-info btn-block">Confirmar</button>
                </div>
            </div>
        </form>
    </div>

</main>
<ng-template #logar>
    <div class="container text-center mt-5">
        <h2>Área do Cliente</h2>
        <div class="card text-left" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a routerLink="listaProduto"><button class="btn">Ir as Compras</button></a>
                </li>
                <li class="list-group-item"><a routerLink="meusPedidos"> <button class="btn">Meus Pedidos</button></a>
                </li>
                <li class="list-group-item"><a><button class="btn" (click)="deslogar()">Deslogar</button></a></li>
            </ul>
        </div>
        <h2 class="mt-5">
            Deseja alterar seus dados?
        </h2>
        <h4> Envie um email para pgudegude@gmail.com</h4>
    </div>
</ng-template>