
<footer class="fot">
    <div class="container p-4 mt-2">
        <div class="row text-center">
            <div class="col-md-4">
                <div>
                    CONTATO
                </div>
                <a routerLink="contato">Fale conosco</a>
            </div>
            <div class="col-md-4">
                <div>
                    <div>INSTITUCIONAL</div>
                    <a href="contato.html"> Nossa história</a>
                </div>
            </div>
            <div class="col-md-4">
                <div>SOCIAL</div>
                <a href="https://www.instagram.com/pgudegude/?hl=pt-br"><img src="./assets/Imagem/instagram.png"
                        width="20px"> Instagram</a>
            </div>
        </div>
        <div class="text-center"> Todos os direitos reservados</div>
    </div>
</footer>