<app-menu></app-menu>

<div class="container">
    <div class="row">
        <div class="row ml-2">
            <div class="col-md-9">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <img src="../../../assets/Imagem/bola universo.png" class="card-img" alt="Bola Universo" title="Bola Universo">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h5 class="card-title">Bola Universo - Tamanho unico</h5>
                                <small class="text-muted">Cod:. 1</small>
                                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                    Totam
                                    ipsa, aperiam quod ipsum perspiciatis iusto accusantium saepe deleniti
                                    dolores
                                    perferendis distinctio corrupti deserunt tempore molestiae recusandae sit
                                    alias iste
                                    provident. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi
                                    ut
                                    sint, maxime minus dolorum, eaque quisquam, ducimus hic cupiditate magnam
                                    facere eum
                                    consequuntur mollitia sapiente veritatis recusandae praesentium ea qui!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <p><s>De: R$ 77,26</s></p><br>
                <h4>Por: R$64,23</h4>
                <hr>
                <label for="frete">Forma de Envio:</label>
                <div class="form-group row">
                    <div class="col-6">
                        <label for="freteRapido">Frete rápido <br> R$ 50,00</label>
                        <input type="radio" name="frete" value="50.0" id="freteRapido">
                    </div>
                    <div class="col-6">
                        <label for="freteNormal">Frete normal <br> R$ 20,00</label>
                        <input type="radio" value="20.0" name="frete" id="freteNormal">
                    </div>
                </div>
                <hr>
                <button type="button"
                    class="btn btn-success btn-lg btn-block">Incluir no
                    Carrinho</button>
            </div>
        </div>
    </div>
</div>
<app-footer class="fot"></app-footer>
