<app-menu></app-menu>

<div class="container" *ngIf="product">
    <div class="row">
        <div class="row ml-2">
            <div class="col-md-9">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <img [src]="product[0].image" class="card-img" alt={{product[0].name}}
                                title={{product[0].name}}>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h1 class="card-title">{{product[0].name}}</h1>
                                <small class="text-muted">código produto: {{product[0].codProduct}}</small>
                                <h3 class="card-text">{{product[0].description}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <hr>
                <h4>Preço produto:
                    {{product[0].valueProduct.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</h4>
                <hr>
                <label for="frete">Forma de Envio:</label>
                <div class="form-group row">
                    <div class="col-6">
                        <label for="freteRapido">Frete rápido <br> R$ 50,00</label>
                        <input type="radio" name="frete" value="50.0" id="freteRapido">
                    </div>
                    <div class="col-6">
                        <label for="freteNormal">Frete normal <br> R$ 20,00</label>
                        <input type="radio" value="20.0" name="frete" id="freteNormal">
                    </div>
                </div>
                <hr>
                <button type="button" class="btn btn-success btn-lg btn-block" (click)='saveProduct()'>Incluir no
                    Carrinho</button>
                
            </div>
        </div>
    </div>
</div>
<app-footer class="fot"></app-footer>