

<app-menu></app-menu>
<main>
    <div class="container-fluid">
        <div id="cardCentro" class="row">
            <div class="card col-md-2 p-2 mt-5" (click)="selecionado(produto)"  *ngFor="let produto of apiProduct">
                <a routerLink="produto"><img class="card-img-top" src="../../../assets/Imagem/palhaço.png" alt="Card image cap"
                        title="Bola Palhaço"></a>
                <div class="card-body">
                    <h5 class="card-title mt-3">{{produto.name}}</h5>
                    
                    <h4>Por: {{produto.valueProduct.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}} </h4>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
