<main>
    <app-menu></app-menu>
    <div class="container-fluid">
        <div id="cardCentro" class="row">
            <div class="col-md-2 card p-2">
                <a href=""><img class="card-img-top" src="../../../assets/Imagem/palhaço.png" alt="Card image cap"
                        title="Bola Palhaço"></a>
                <div class="card-body">
                    <h5 class="card-title">Bola Palhaço</h5>
                    <p><s>De: R$ 98,36</s></p>
                    <h4>Por: R$67,23</h4>
                </div>
            </div>
            <div class="col-md-2 card p-2">
                <a href=""><img class="card-img-top" src="../../../assets/Imagem/palhacinho.png" alt="Card image cap"
                        alt="Bola Palhacinho" title="Bola Palhacinho"></a>
                <div class="card-body">
                    <h5 class="card-title">Bola Palhacinho</h5>
                    <p><s>De: R$ 85,26</s></p>
                    <h4>Por: R$55,23</h4>
                </div>
            </div>
            <div class="col-md-2 card p-2">
                <a href=""><img class="card-img-top" src="../../../assets/Imagem/psicodelica.png" alt="Card image cap"
                        title="Bola Psicodelica"></a>
                <div class="card-body">
                    <h5 class="card-title">Bola Psicodelica</h5>
                    <p><s>De: R$ 75,42</s></p>
                    <h4>Por: R$46,32</h4>
                </div>
            </div>
            <div class="col-md-2 card p-2">
                <a href=""><img class="card-img-top" src="../../../assets/Imagem/espiral.png" alt="Card image cap"
                        title="Bola Espiral"></a>
                <div class="card-body">
                    <h5 class="card-title">Bola Espiral</h5>
                    <p><s>De: R$ 72,36</s></p>
                    <h4>Por: R$45,23</h4>
                </div>
            </div>
            <div class="col-md-2 card p-2">
                <a href=""><img class="card-img-top" src="../../../assets/Imagem/bola universo2.png"
                        alt="Card image cap" title="Bola Universo"></a>
                <div class="card-body">
                    <h5 class="card-title">Bola Universo</h5>
                    <p><s>De: R$ 77,26</s></p>
                    <h4>Por: R$64,23</h4>
                </div>
            </div>
        </div>
        <div id="cardCentro" class="row">
            <div class="col-md-2 mt-2 card p-2">
                <a href=""><img class="card-img-top" src="../../../assets/Imagem/bola madeira.jpg" alt="Card image cap"
                        title="Bola Madeira"></a>
                <div class="card-body">
                    <h5 class="card-title">Bola Madeira</h5>
                    <p><s>De: R$ 70,36</s></p>
                    <h4>Por: R$48,53</h4>
                </div>
            </div>
            <div class="col-md-2 mt-2 card p-2">
                <a href=""><img class="card-img-top" src="../../../assets/Imagem/produtosaquinho.png"
                        alt="Card image cap" title="Olho tubarão - Tamanho unico"></a>
                <div class="card-body">
                    <h5 class="card-title">Olho tubarão - Tamanho unico</h5>
                    <p><s>De: R$ 52,32</s></p>
                    <h4>Por: R$8,23</h4>
                </div>
            </div>
            <div class="col-md-2 mt-2 card p-2">
                <a href=""><img class="card-img-top" src="../../../assets/Imagem/produtosaquinho1.png"
                        alt="Card image cap" title="Olho abelha - Tamanho unico"></a>
                <div class="card-body">
                    <h5 class="card-title">Olho abelha - Tamanho unico</h5>
                    <p><s>De: R$ 52,32</s></p>
                    <h4>Por: R$8,23</h4>
                </div>
            </div>
            <div class="col-md-2 mt-2 card p-2">
                <a href="#"><img class="card-img-top" src="../../../assets/Imagem/saquinho2.png" alt="Card image cap"
                        title="Olho galo - Tamanho unico"></a>
                <div class="card-body">
                    <h5 class="card-title">Olho galo - Tamanho unico</h5>
                    <p><s>De: R$ 52,32</s></p>
                    <h4>Por: R$8,23</h4>
                </div>
            </div>
            <div class="col-md-2 mt-2 card p-2">
                <a href="#"><img class="card-img-top" src="../../../assets/Imagem/saquinho3.png" alt="Card image cap"
                        title="Olho tartaruga - Tamanho unico"></a>
                <div class="card-body">
                    <h5 class="card-title">Olho tartaruga - Tamanho unico</h5>
                    <p><s>De: R$ 52,32</s></p>
                    <h4>Por: R$8,23</h4>
                </div>
            </div>
        </div>
    </div>
</main>