.card {
    margin-right: 20px;
    box-shadow: 0px 1px 0px 1px #bbb8b8
}

h4 {
    color: rgb(86, 140, 184);
    font-size: 20px;
    font-weight: bold
}

h5 {
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 47;
}

#cardCentro {
    display: flex;
    justify-content: center;
}

*{
    margin: 0;
    padding: 0;
}

#menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p{
    text-decoration: line-through;
    color: rgba(128, 128, 128, 0.945);
}