<main class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div id="promocoes" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-target="#promocoes" data-slide-to="0" class="active"></li>
                  <li data-target="#promocoes" data-slide-to="1"></li>
                  <li data-target="#promocoes" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <a href="produtosLista.html"> <img class="d-block" src="../../../assets/Imagem/bolasDeLeite.jpg"
                              width="100%" alt="Bolas de gude de leite"></a>
                      <div class="carousel-caption d-none d-md-block">
                          <h2>Ir para página de produtos</h2>
                          <p> Veja todos os nossos produtos</p>
                      </div>
                  </div>
                  <div class="carousel-item ">
                      <img class="d-block " src="../../../assets/Imagem/bolasColoridas.jpg" width="100%"
                          alt="Bolas de gude coloridas">
                      <div class="carousel-caption d-none d-md-block">
                          <h2>Novidades</h2>
                          <p> conheça nossos produtos que acabaram de chegar</p>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <img class="d-block " src="../../../assets/Imagem/bolasEspelhadas.jpg" width="100%" alt="Bolas Espelhadas">
                      <div class="carousel-caption d-none d-md-block">
                          <h2>Linha Personalizada</h2>
                          <p>Conheça nossos produtos personalizados</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>